* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

header {
    display: grid;
    grid-template-rows: 72px 4px 32px;
    gap: 8px;
    padding-left: 44px;
    padding-right: 44px;
    margin-bottom: 30px;
}

#header-main {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

#page-name {
    font-size: 3.5rem;
}

input {
    margin-top: 15px;
    margin-right: 25px;
    width: 450px;
    border-radius: 0%;
    height: 28px;
}

.top-button-2 {
    margin-left: 5px;
}

.seek-btn {
    height: 38px;
    width: 60px;
}

#profile {
    width: 15%;
    height: 100%;
    display: flex;
    align-items: center;
}

#profile-info {
    margin-left: auto;
    margin-right: auto;
}

.cool-button {
    width: 100px;
    padding: 0;
    height: 30px;
}

.cool-button > .my-bi {
    color: black;
    width: 13px;
    margin: 0;
}


.cool-button:hover .my-bi {
    display: inline-block;
}


.my-button {
    background-color: white;
    border-right: 3px solid gray;
    border-bottom: 3px solid gray;
}

.top-button {
    margin-left: 15px;
}

#name {
    text-align: center;
    font-size: 1.25rem;
    font-family: "OCR A Std", monospace;

}

.my-button:hover {
    background-color: gainsboro;
}

.my-button:active {
    border-bottom: 2px solid gray;
    border-right: 2px solid gray;
    filter: brightness(110%);
    transform: scale(0.9);
}

#inputs {
    align-self: center;  
    margin-left: auto;
    margin-right: auto;
}

#header-line {
  height: 10px;
  background-color: white;
  position: relative;
}

#header-line:after {
  content: '';
  position: absolute;
  left: 0px;
  right: 0px;
  height: 2px;
  background: black;
  transform: translateY(-50%);
  border-radius: 10px;
}

#header-info {
    display: flex;
    flex-direction: row;
}

#page-type {
    margin-top: 0px;
    font-size: xxs-large;
    margin-left: 10px;
    font-family: "OCR A Std", monospace;
}

.normal-a {
    font-family: "DejaVu Sans", monospace;
    margin-top: 7px;
}

.sred {
    margin-left: 20px;
    font-size: 1.3rem;
}

#main-body {
    display: grid;
    grid-template-columns: auto 30%;
    height: 75.5vh;
}

#inputs-mama {
    margin-left: 5%;
}

.inputs {
    display: flex;
    flex-direction: row;
    margin-bottom: 3%;
}

.main-input {
    position: absolute;
    margin-left: 7%;
    width: 55%;
}

#text-input {
    height: 60%;
}

#title-input {
    height: 7%;
}

#tags-input {
    height: 7%;
    margin-top: 4.5%;
}

#thoughts-text {
    height: 40%;         
    padding: 10px;
    box-sizing: border-box;
    resize: vertical;      
    font-family: inherit;  
    font-size: inherit;
    border-left: 2px solid black;
    border-top: 2px solid black;
    border-bottom: 2px solid gray;
    border-right: 2px solid gray;

}

#title-text {
    height: 5%;
}

#tags-text {
    height: 5%;
}

.naming {
    margin-top: 7px;
    font-size: large;
}
.naming-special {
    margin-top: 10px;
    font-size: large;
}

.no-margin {
    margin: 5px;
    font-family: "OCR A Std", monospace;
}

.links-in-question {
    display: grid;
    grid-template-columns: 20% auto;
    margin-top: 5px;
    margin-left: 13px;
    font-size: large;
}

.tags-block {
    font-family: "DejaVu Sans", monospace;
}

#popular-tags {
    display: flex;
    flex-wrap: wrap;
    border: 4px solid black;
    height: 40%;
    width: 65%;
    margin-left: 15%;
    justify-content: space-around;
}

.name-of-section {
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}

.tag {
    min-width: 26%;
    box-sizing: border-box;
    text-align: center;
    font-size: 1.2rem;
    cursor: pointer;
    color: black;
    text-decoration: none;
    font-family: "DejaVu Sans", monospace;

}
.tag:hover {
    text-decoration: underline;
}

#cool-members {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    border: 4px solid black;
    height: 60%;
    width: 65%;
    margin-left: 15%;
    padding-left: 10px;
    justify-content: space-around;
}

.member {
    width: 100%;
    font-size: 1.2rem;
    cursor: pointer;
    font-family: "DejaVu Sans", monospace;
}
.my-bi {
    color: black;
    display: none;
}

.no-style {
    color:black;
    text-decoration: none;
}

.member:hover .my-bi {
    display: inline-block;
}

.page-button {
    width: 40px;
    height: 35px;
    margin-left: 15px;
    border-right: 3px solid rgb(51, 51, 51);
    border-bottom: 3px solid rgb(51, 51, 51);
}

#another-pages {
    padding-left: 30px;
    height: 50px;
}

.avatar-block {
    height: 60px;
    width: 60px;
}

.ask-button {
    margin-left: 12.5%;
    height: 50px;
    width:80px;
}

footer {
    background-color: rgb(49, 49, 49);
    width: 100%;
    height: 25px;
}