            <div class = "question-block">
                <div class = "img-block-part">
                    <img src="{{img_url}}" class = "avatar avatar-block">
                    <div class = "rating">
                        <div class = "rating-info"><span class = "rating-span">34</span></div>
                        <div class = "rating-arrows">
                            <button class = "rating-arrow arrow-right" data-toggle = "button" autocomplete = "off"> <i class="bi bi-caret-up-fill"></i> </button>
                            <button class = "rating-arrow arrow-left"> <i class="bi bi-caret-down-fill"></i> </button>
                        </div>
                    </div>
                </div>
                <div class = "info-block-part">
                    <div class = "information">{{question.text}}</div>
                    <div class = "links-in-question">
                        <label class="check-button">
                            <input type="checkbox" hidden>
                            <i class="check-icon"></i>
                            <span>Выбрать</span>
                        </label>
                    </div>
                </div>
            </div>