{% extends 'questions/layout/base_login.html' %}
   {% block content %}
        <div id = "header-info">
            <h2 id = "page-type">New Questions</h2>
            <a class = "normal-a sred" href = "{% url "questions:index" %}">Hot questions</a>
        </div>
    </header>

    <div id = "main-body">
        <div id = "question-block-mama">
            {% for question in questions %}
                {%include 'questions/partials/question-block.html'%}
            {% endfor %}
    {%include 'questions/partials/paginator.html'%}
    {% endblock %}
